body {
    background: rgb(36, 118, 196);
    color: whitesmoke; 
    margin: 80;
} 

header{
    text-align: center;
    font-size: 50px;
    border-bottom: solid 2px whitesmoke;
    margin-left: 80;
    margin-right: 80;
    
}

.início{
    display: flex;
    background-color: rgb(23, 24, 46);
    padding-bottom: 80px;
    padding-top: 70px;
    margin-top: 20px;
    justify-content: center;
    font-family: "Josefin Sans", sans-serif;
}

.chamada-texto{
margin-right: 5%;

}
img{
    width: 150px;
    height: 200px;
    opacity: 0.5;
}
.filme{
display: flex;
overflow-x: auto;
gap:20px ;
justify-content: center;
}
 
h2{
text-align: center;


}
img:hover{
opacity: 1;
border: 2px solid;
}